In [22]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [23]:
classifier = DecisionTreeClassifier()
score = accuracy_score

In [24]:
dataset = pd.read_csv('../datasets/play_tennis.csv')

In [25]:
# # dataset.columns
dataset['outlook'].replace(["Rain","Overcast","Sunny"], [1,2,3], inplace=True)
dataset['temp'].replace(["Cool","Mild","Hot"], [1,2,3], inplace=True)
dataset['wind'].replace(["Weak","Strong"], [0,1], inplace=True)
dataset['humidity'].replace(["Normal","High"],[0,1], inplace=True)
dataset['play'].replace(["No","Yes"],[0,1], inplace=True)
dataset.head(5)

  day  outlook  temp  humidity  wind  play
0  D1        3     3         1     0     0
1  D2        3     3         1     1     0
2  D3        2     3         1     0     1
3  D4        1     2         1     0     1
4  D5        1     1         0     0     1

In [26]:
x = dataset.drop(columns=["play","day"])
y = dataset['play']
dataset

    day  outlook  temp  humidity  wind  play
0    D1        3     3         1     0     0
1    D2        3     3         1     1     0
2    D3        2     3         1     0     1
3    D4        1     2         1     0     1
4    D5        1     1         0     0     1
5    D6        1     1         0     1     0
6    D7        2     1         0     1     1
7    D8        3     2         1     0     0
8    D9        3     1         0     0     1
9   D10        1     2         0     0     1
10  D11        3     2         0     1     1
11  D12        2     2         1     1     1
12  D13        2     3         0     0     1
13  D14        1     2         1     1     0

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2)

In [28]:
model = classifier.fit(x,y)

In [29]:
# instruction for  use

# ['outlook'] = (["Rain","Overcast","Sunny"] = [1,2,3] respectively
# ['temp'] =(["Cool","Mild","Hot"]  = [1,2,3] respectively
# ['wind'] =(["Weak","Strong"]= [0,1] respectively
# ['humidity'] =(["Normal","High"] [0,1] respectively




predict = model.predict([[2,2,1,1]]) # = [outlook temp humidity wind ] respectively
if predict == True:
    print("Hello,you can play Tennis Today")
else:
    print("Hello, I am sorry you can not play Tennis Today")

Hello,you can play Tennis Today

In [30]:
# testing the accuracy

In [31]:
# model = classifier.fit(x_train,x_train)
# prediction = model.predict(x_test)
# accuracy = score(y_test,prediction)
# prediction
# accuracy